<tr>
  <td>
    <%= link_to item do %>
    <%= item.title %>
    <% end %>
  </td>
  <td>
    <% if item.collection %>
      <%= item.collection.name %>
    <% end %>
  </td>
  <td>
    <%= item.price %>
  </td>
</tr>
