  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Update Item
          </h1>
          <ol class="breadcrumb">
            <li><%= link_to 'Dashboard', dashboard_path %></li>
            <li class="active">Edit Item</li>
          </ol>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= render 'item_form' %>
    </div>
  </div>
