<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Items
          </h1>
          <ol class="breadcrumb square">
              <li><%= link_to 'Dashboard', dashboard_path %></li>
              <li class="active">Items</li>
          </ol>
      </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-10 col-md-12 col-sm-12">
      <div class="table-responsive">
        <table id="table_id" class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Collection</th>
              <th>Current Price</th>
            </tr>
          </thead>
          <tbody id="item_list">
            <%= render @items %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- /.row -->
