<!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              New Item
          </h1>
          <ol class="breadcrumb">
            <li><%= link_to 'Dashboard', dashboard_path %></li>
            <li class="active">New Item</li>
          </ol>
      </div>
  </div>
  <!-- /.row -->
